scratch/**
.c9/**
.DS_Store
data/default.ini
python/__pycache__/**
python/static/chartist-js-develop/**
python/static/css/bootstrap**
python/static/fonts/glyphicons**
python/static/js/bootstrap**
python/static/js/jquery**
python/static/documents/**
**.pyc
**.docx
sql/app.db
